<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Login Page</title>
  <meta name="description" content="User login page" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- basic styles -->
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap-responsive.min" %>

  <%= stylesheet_link_tag "font-awesome.min" %>
  <!--[if IE 7]>
    <%= stylesheet_link_tag "font-awesome-ie7.min" %>
  <![endif]-->


  <!-- page specific plugin styles -->

  <!-- ace styles -->
  <%= stylesheet_link_tag "ace.min" %>
  <%= stylesheet_link_tag "ace-responsive.min" %>
  <!--[if lt IE 9]>
    <%= stylesheet_link_tag "ace-ie.min" %>
  <![endif]-->

</head>

<body class="login-layout">



<div class="container-fluid" id="main-container">
  <div id="main-content">
    <div class="row-fluid">
      <div class="span12">

        <div class="login-container">

          <div class="row-fluid">
            <div class="center">
              <h1><i class="icon-cloud blue"></i> <span class="red">Test</span> <span class="white">Heimdall</span></h1>
            </div>
          </div>

          <div class="space-6"></div>

          <div class="row-fluid">

            <div class="position-relative">


              <div id="login-box" class="visible widget-box no-border">

                <div class="widget-body">
                  <div class="widget-main">
                    <h4 class="header lighter bigger"><i class="icon-asterisk blue"></i> Login</h4>

                    <div class="space-6"></div>

                    <% provide(:title, "Sign in") %>


                        <%= form_for(:session, url: sessions_path) do |f| %>

                          <label>
                            <span class="block input-icon input-icon-right">
                              <%= f.text_field :email, :class => "span12", :placeholder => "Email" %>
                              <i class="icon-envelope"></i>
                            </span>
                          </label>

                          <label>
                                    <span class="block input-icon input-icon-right">
                                          <%= f.password_field :password, :class => "span12", :placeholder => "Password" %>
                                          <i class="icon-lock"></i>
                                    </span>
                          </label>
                          <div class="space"></div>
                          <div class="row-fluid">
                            <label class="span8">

                            </label>
                            <%= f.submit "Login", class: "span4 btn btn-small btn-primary" %>

                          </div>

                        <% end %>




                  </div><!--/widget-main-->


                  <div class="toolbar clearfix">
                    <div>
                    </div>
                    <div>
                      <%= link_to (raw('Register <i class="icon-arrow-right"></i>')), signup_path, { :class => "user-signup-link"} %>
                    </div>
                  </div>
                </div><!--/widget-body-->

              </div><!--/login-box-->




            </div><!--/position-relative-->

          </div>


        </div>


      </div><!--/span-->
    </div><!--/row-->
  </div>
</div><!--/.fluid-container-->


<!-- basic scripts -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
  window.jQuery || document.write("<script src='/assets/jquery-1.9.1.min.js>\x3C/script>");
  </script>


    <!-- page specific plugin scripts -->

    <!-- ace scripts -->

    <!-- inline scripts related to this page -->

  <script type="text/javascript">

    function show_box(id) {
      $('.widget-box.visible').removeClass('visible');
      $('#'+id).addClass('visible');
    }

</script>

<!-- Script if user submits a failed form -->

<% if @failed_form == true %>
  <script type="text/javascript">
    show_box('signup-box');
  </script>
<% end %>

</body>
</html>
